@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HindMadurai';
  src: url("../fonts/HindMadurai-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HindMadurai';
  src: url("../fonts/HindMadurai-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HindMadurai';
  src: url("../fonts/HindMadurai-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HindMadurai';
  src: url("../fonts/HindMadurai-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FredokaOne';
  src: url("../fonts/FredokaOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  background-color: #fff;
}

.container {
  width: 1125px;
  margin: 0 auto;
  padding: 0 5px;
}

.btn {
  width: 165px;
  height: 49px;
  text-align: center;
  background: #D23166;
  border-radius: 5px;
  font-family: 'HindMadurai';
  font-weight: 700;
  font-size: 16px;
  color: #FAFAFA;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.btn--left {
  margin-left: 15px;
}

.btn:hover {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes ice {
  0% {
    -webkit-transform: rotate(-7deg) scale(1.1);
            transform: rotate(-7deg) scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: rotate(7deg) scale(1.1);
            transform: rotate(7deg) scale(1.1);
  }
}

@keyframes ice {
  0% {
    -webkit-transform: rotate(-7deg) scale(1.1);
            transform: rotate(-7deg) scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: rotate(7deg) scale(1.1);
            transform: rotate(7deg) scale(1.1);
  }
}

.header {
  background-color: rgba(242, 206, 218, 0.3);
  min-height: 650px;
  padding-top: 8px;
  padding-bottom: 213px;
}

.header__content {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.header__content:hover .header__title span {
  -webkit-text-decoration: #D23166 underline double;
          text-decoration: #D23166 underline double;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.header__subtitle {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #0F0101;
  margin-bottom: 9px;
}

.header__title {
  width: 665px;
  font-family: 'FredokaOne';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #0F0101;
  opacity: 0.9;
  margin-bottom: 27px;
}

.header__title span {
  font-family: 'FredokaOne';
  color: #D23166;
}

.header__text {
  width: 525px;
  font-family: 'HindMadurai';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0F0101;
  opacity: 0.6;
  margin-bottom: 45px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 196px;
  position: relative;
}

.main-menu::before {
  content: "";
  width: 860px;
  height: 743px;
  background: url("../img/header_ice.png") no-repeat;
  position: absolute;
  top: 115px;
  right: -240px;
  -webkit-animation: ice 10s infinite alternate;
          animation: ice 10s infinite alternate;
}

.main-menu__logo {
  margin-right: 265px;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-menu__item {
  margin-right: 40px;
  font-weight: 700;
  font-size: 15px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.main-menu__item:hover {
  color: #D23166;
  cursor: pointer;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.feature {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__item {
  width: 250px;
  min-height: 200px;
  padding: 35px 25px 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin-right: 40px;
  font-family: 'HindMadurai';
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.feature__item:last-child {
  margin-right: 0px;
}

.feature__item:hover {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.feature__img {
  width: 50px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.feature__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  opacity: 0.6;
}

.advice {
  background-color: rgba(242, 206, 218, 0.3);
  padding-top: 142px;
  padding-bottom: 146px;
}

.advice__item {
  width: 452px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #150101;
  position: relative;
}

.advice__item::before {
  content: "";
  background: url("../img/advice_sugar.png") no-repeat;
  position: absolute;
  width: 655px;
  height: 657px;
  top: -215px;
  left: 527px;
}

.advice__title {
  font-family: 'HindMadurai';
  font-weight: 600;
  font-size: 44px;
  line-height: 49px;
  margin-bottom: 16px;
}

.advice__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 23px;
}

.product {
  margin-top: 144px;
}

.product__title {
  text-align: center;
  font-family: 'HindMadurai';
  font-weight: 600;
  font-size: 44px;
  line-height: 49px;
  margin-bottom: 16px;
  margin-bottom: 70px;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__item {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #0F0101;
  margin-right: 40px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.product__item:last-child {
  margin-right: 0px;
}

.denomination {
  margin-top: 50px;
}

.denomination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.denomination__item:last-child {
  margin-bottom: 0px;
}

.denomination__item--replacement .denomination__left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.denomination__item--replacement .denomination__right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.denomination__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.denomination__right {
  width: 50%;
  padding-left: 85px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.denomination__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.denomination__subtitile {
  font-family: 'HindMadurai';
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 11px;
}

.denomination__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  margin-bottom: 28px;
}

.denomination__price {
  font-family: 'HindMadurai';
  font-weight: 500;
  margin-bottom: 10px;
}

.denomination__nova {
  font-size: 26px;
  line-height: 36px;
  padding-right: 5px;
}

.denomination__old {
  font-size: 20px;
  line-height: 28px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  opacity: 0.7;
}
