@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HindMadurai';
  src: url('../fonts/HindMadurai-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HindMadurai';
  src: url('../fonts/HindMadurai-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HindMadurai';
  src: url('../fonts/HindMadurai-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HindMadurai';
  src: url('../fonts/HindMadurai-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FredokaOne';
  src: url('../fonts/FredokaOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}