body {
  background-color: #fff;
}

.container {
  width: 1125px;
  margin: 0 auto;
  padding: 0 5px;
}

.btn {
  width: 165px;
  height: 49px;
  text-align: center;
  background: $main_color;
  border-radius: 5px;
  font-family: 'HindMadurai';
  font-weight: 700;
  font-size: 16px;
  color: #FAFAFA;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  transition: 0.6s;

  &--left {
    margin-left: 15px;
  }

  &:hover {
    transition: 0.6s;
    transform: scale(1.1);
  }
}

@keyframes ice {
  0% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(7deg);
  }
}

/*hedaer*/
.header {
  background-color: rgba(242, 206, 218, 0.3);
  min-height: 650px;
  padding-top: 8px;
  padding-bottom: 213px;
  transition: 2s;

  &:hover {
    transition: 2s;
    background-color: rgba(242, 206, 218, 0.7);
  }

  &__content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    transition: 2s;
    &:hover .header__title span{
      text-decoration: $main_color underline double;
      transition: 2s;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: $black_color;
    margin-bottom: 9px;
  }

  &__title {
    width: 665px;
    font-family: 'FredokaOne';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: $black_color;
    opacity: 0.9;
    margin-bottom: 27px;

    span {
      font-family: 'FredokaOne';
      color: $main_color;
    }
  }

  &__text {
    width: 525px;
    font-family: 'HindMadurai';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $black_color;
    opacity: 0.6;
    margin-bottom: 45px;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  margin-bottom: 196px;
  position: relative;

  &::before {
    content: "";
    width: 860px;
    height: 743px;
    background: url("../img/header_ice.png") no-repeat;
    position: absolute;
    top: 115px;
    right: -240px;
    animation: ice 10s infinite alternate;
  }

  &__logo {
    margin-right: 265px;
  }

  &__list {
    display: flex;
    flex-grow: 1;
  }

  &__item {
    margin-right: 40px;
    font-weight: 700;
    font-size: 15px;
    transition: 0.6s;

    &:hover {
      color: $main_color;
      cursor: pointer;
      transition: 0.6s;
      transform: scale(1.15);
    }
  }
}

/*feature*/
.feature {
  padding-top: 100px;
  padding-bottom: 100px;
  transition: 2s;

  &:hover {
    transition: 2s;
    background-color: rgba(242, 206, 218, 0.7);
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 250px;
    min-height: 200px;
    padding: 35px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    margin-right: 40px;
    font-family: 'HindMadurai';
    transition: 0.6s;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      transition: 0.6s;
      transform: scale(1.05);
    }
  }

  &__img {
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    opacity: 0.6;
  }
}

/*advice*/
.advice {
  background-color: rgba(242, 206, 218, 0.3);
  padding-top: 142px;
  padding-bottom: 146px;
  transition: 2s;

  &:hover {
    transition: 2s;
    background-color: rgba(242, 206, 218, 0.7);
  }

  &__item {
    width: 452px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #150101;
    position: relative;

    &::before {
      content: "";
      background: url("../img/advice_sugar.png") no-repeat;
      position: absolute;
      width: 655px;
      height: 657px;
      top: -215px;
      left: 527px;
    }
  }

  &__title {
    font-family: 'HindMadurai';
    font-weight: 600;
    font-size: 44px;
    line-height: 49px;
    margin-bottom: 16px;
  }

  &__text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 23px;
  }
}